.feature.left, .feature.right {
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feature .image {
  width: 48%;
}
.image {
  border-radius: 0;
  border: 0;
  display: inline-block;
  position: relative;
}
